@model IList<ShareModel>
@{
    ViewData["Title"] = "Inbox";
}


<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h1>Inbox</h1>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>View File</th>
							<th>Sender</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.Data.Title</td>
								@if (!string.IsNullOrEmpty(item.Data.FileName))
								{
									<td><a href='~/uploads/@item.Data.FileName' target="_blank"><i class="fa fa-eye"></i>View</a></td>
								}
								<td>@item.CreatedUser.UserName</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

